body{
    font-family: 'Poppins', sans-serif;
}

banner{
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-color: gray;
    opacity: 1;
    
   
}

.banner{
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-color: gray;
    opacity: 0.8;
}